/* ini css */
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo-icon{
    height: 48px;
    width: 48px;
    border: 1px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRMhXFl5-tv99gsb1u3GOskR18VZDRiWKHciw&s);
    background-size: cover;
    border-radius: 50%;
}

.nav-container{
    display: flex;
}

.nav-item{
    border:1px solid;
    color:black;
    text-decoration:none;
    font-size:16px;
    font-weight: bold;
    padding: 8px;
    border-radius: 8px;
}

.banner-img{
    height:300px;
    width: auto;
    background-image: url(https://picsum.photos/300);
    background-size: cover;
    background-position: center;
}

.profile-item{
    height:100px;
    text-align: -webkit-center;
}

.profile-container{
    display: flex;
    justify-content: space-around;
}

.profile-python{
    height : 50px;
    background-image:url(https://qph.cf2.quoracdn.net/main-qimg-28cadbd02699c25a88e5c78d73c7babc);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    width: 50px;
}

.profile-css{
    height : 50px;
    background-image:url(https://cdn.worldvectorlogo.com/logos/css-3.svg);
    background-size: cover;
    background-position: center;
    border-radius: 10%;
    width: 50px;
}

.profile-js{
    height : 50px;
    background-image:url(https://i.pinimg.com/originals/13/40/7c/13407c12f50f08d328800c3caef43f61.png);
    background-size: cover;
    background-position: center;
    border-radius: 10%;
    width: 50px;
}

.message-us-form {
    display: flex;
}

.input-form,
.result-form {
    flex: 1;
    
}

.input-form>div {
    padding-bottom: 16px;
}

input {
    margin-left: 10px;
    padding: 5px;
    height: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    line-height: 1.5;
    resize: none;
}
.form-group {
    display: flex;
    align-items: flex-start;
}
.essay-box {
    margin-top: 5px;
    width: 50%;
    height: 400px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    line-height: 1.5;
    resize: none;
}

.button{
    border: none;
    width: 55%;
    height: 50px;
    font-family: monospace;
    font-weight: bold;
    background-color: black;
    color: white;
    font-size: xx-large;
}

@media only screen and (max-width: 480px) {

    .container,
    .headquarters {
        flex-direction: column;
        align-items: center;
    }
}
